body {
  font-family: "Arvo", serif;
}
h1 {
  color: #ba1f23;
  font-family: "Pacifico", cursive;
}

.search {
  margin: 20px auto;
}
.search input {
  width: 500px;
  outline: none;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
}

button{
  border: none;
  background-color: green;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  transition:0.5s;
  margin-right: 5px;
}
button:hover{
  opacity: 0.8;
}