body {
  font-family: "Arvo", serif;
}

thead {
  background-color: lightcoral;
  color: #fff;
}
tr:nth-child(even) {
  background-color: lightblue;
}

.btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  margin-right: 5px;
  font-weight: bold;
  transition: 0.3s;
  color: #fff;
}
.btn:hover {
  color: teal;
}

.edit {
  background-color: rgb(203, 203, 52);
}

.delete {
  background-color: #ba1f23;
}
